@model LIMS_DEMO.Areas.Configuration.Models.SubGroupMasterModel
@{
    ViewBag.Title = "AddSubGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Add Sub Group</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Configuration</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Sub Matrix</li>
                                <li class="breadcrumb-item active" aria-current="page">Add Sub Group</li>
                            </ol>
                        </nav>
                    </div>
                   
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Add Sub Group</h4>
                    </div>
                    @*<div class="pull-right">
            <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
                </div>*@
                </div>
                @using (Ajax.BeginForm("AddSubGroup", "ProductSubMatrix", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AddTestMethodSuccess" }))
                {
                    @Html.HiddenFor(Model => Model.SubGroupId)
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Sample Type Product Name: </label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.SampleTypeProductId, new SelectList(ViewBag.SampleTypeProductList, "SampleTypeProductId", "SampleTypeProductName"), "---Select---", new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.SampleTypeProductId, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.SampleTypeProductName)
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Product Group Name:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.ProductGroupId, new SelectList(ViewBag.ProductGroupList, "ProductGroupId", "ProductGroupName"), "---Select---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductGroupId, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ProductGroupName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Sub Group:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.SubGroupName, new { @class = "form-control", placeholdder = "Code" })
                            @Html.ValidationMessageFor(model => model.SubGroupName, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Sub Group Print Code</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.SubGroupPrintCode, new { @class = "form-control ", placeholdder = "Code" })
                            @Html.ValidationMessageFor(model => model.SubGroupPrintCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Is Active</label>
                        <div class="col-sm-4">
                            <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                            <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12">
                            <a class="btn btn-danger btn-sm" href="@Url.Action("SubGroupList", "ProductSubMatrix")">Back</a>&emsp;
                            <button type="submit" class="btn btn-info btn-sm" style="float:right">Save</button>
                        </div>
                    </div>
                   
                }
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function AddSubGroupSuccess(result) {
        
            alert(Hello);
    }

    $('#SampleTypeProductId').change(function () {
        debugger;
        if ($('#SampleTypeProductId').val() == '') {
            $('#ProductGroupId').html('');
            $('#ProductGroupId').append('<option value="">---Select---</option>');
            $('#SubGroupId').html('');
            $('#SubGroupId').append('<option value="">---Select---</option>');
            $('#MatrixId').html('');
            $('#MatrixId').append('<option value="">---Select---</option>');
        }
        else {
            var SampleTypeProductID = $('#SampleTypeProductId').val()
            $('#ProductGroupId').html('');
            $('#ProductGroupId').append('<option value="">---Select---</option>');
            $.ajax({
                url: '/ProductSubMatrix/ProductGroups',
                type: 'Get',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: 'json',
                data: { SampleTypeProductId: SampleTypeProductID},
                success: function (result) {
                    $.each(result.result, function (i, item) {
                        $('#ProductGroupId').append('<option value="' + item.ProductGroupId + '">' + item.ProductGroupName + '</option>');
                    })
                },
                error: function (data) {
                }
            });
        }
    });
</script>


