@model LIMS_DEMO.Areas.Configuration.Models.MenuMasterModel
@{
    ViewBag.Title = "AddParentMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Add Parent Menu</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                               <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Menu Master</li>
                                    <li class="breadcrumb-item active" aria-current="page">Add Parent Menu</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
         
            <!-- Default Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Add Parent Menu</h4>
            </div>
        </div>
        @using (Ajax.BeginForm("AddParentMenu", "MenuMaster", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AddParentMenuSuccess" }))
        {
          @Html.HiddenFor(model => model.MenuMasterId);
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Menu:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Menu, new { @class = "form-control", placeholdder = "ParentMenu" })
            </div>
            <label class="col-sm-12 col-md-2 col-form-label">Is Active:</label>
            <div class="col-sm-4">
                <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
            </div>
        </div>
        <div class="form-group row">
        <div class="col-sm-12 col-md-12">
            <a class="btn btn-danger btn-sm" href="@Url.Action("ParentMenuList", "MenuMaster")" style="float:left">Back</a>&emsp;
            <button type="submit" class="btn btn-info btn-sm" style="float:right">Add</button>
        </div>
       </div>
    }
    </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
    </div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script>
    function AddParentMenuSuccess(result) {
        if (result.Status == "success") {
            alert(result.message);
            location.href = '/Configuration/MenuMaster/ParentMenuList';
        }
    }
</script>




