@model LIMS_DEMO.Areas.Configuration.Models.MenuMasterModel
@{
    ViewBag.Title = "AddSubMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Add SubMenu</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Add SubMenu</h4>
                        <!--<p class="mb-30">-->@*All bootstrap element classies*@<!--</p>-->
                    </div>
                    @*<div class="pull-right">
                            <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
                        </div>*@
                </div>
                @using (Ajax.BeginForm("AddSubMenu", "MenuMaster", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AddSubMenuSuccess" }))
                {
                    <div class="container">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">ParentMenu Name</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.DropDownListFor(model => model.ParentMenuId, new SelectList(ViewBag.ParentMenuList, "ParentMenuId", "ParentMenuName"), "---Select---", new { @class = "form-control col-md-7" })
                                @Html.ValidationMessageFor(model => model.ParentMenuId, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ParentMenu)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">SubMenu Name</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.TextBoxFor(model => model.SubMenu, new { @class = "form-control col-md-7", placeholdder = "SubMenu" })
                                @Html.ValidationMessageFor(model => model.SubMenu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Target Url</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.TextBoxFor(model => model.TargetUrl, new { @class = "form-control col-md-7", placeholdder = "TargetUrl" })
                                @Html.ValidationMessageFor(model => model.TargetUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Is Active</label>
                            <div class="col-sm-12 col-md-10">
                                <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                                <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
                            </div>
                        </div>
                        <div class="actions clearfix">
                            <button type="submit" class="btn btn-outline-success">Add</button>
                        </div>
                    </div>
                }
                <!-- Default Basic Forms End -->
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script>
    function AddSubMenuSuccess(result) {
        if (result.Status == "success") {
            alert(result.message);
            location.href = '/Configuration/MenuMaster/SubMenuList';
        }
    }
    </script>




