@model  LIMS_DEMO.Areas.FieldDetermination.Models.FDStackEmissionModel


<!-- Simple Datatable start -->

        <div id="divList">
            @if (Model.GridModel.Count() > 0)
            {
                //id = "dtHorizontalExample tblField"<!--<table id="dtHorizontalExample"--> @*class="table table stripe hover nowrap"*@ <!--class="table table-bordered">-->

                <table class="table table-bordered">
              
                                    <thead>
                                        <tr class="thead-dark">
                                            <th >
                                                SrNo.
                                            </th>
                                            <th>
                                                Parameters
                                            </th>
                                            <th>
                                                Test Method
                                            </th>
                                            <th>
                                                Flow Rate
                                            </th>
                                            <th>
                                                Sampling Time
                                            </th>
                                            <th >
                                                Gas Temp
                                            </th>
                                            <th >
                                                Barometric Pressure
                                            </th>
                                            <th >
                                                Dry Gas Meter Reading Initial
                                            </th>
                                            <th>
                                                Dry Gas Meter Reading Final
                                            </th>
                                            <th>
                                                Dry Gas Meter Reading Total
                                            </th>
                                            <th>
                                                Bottle No
                                            </th>
                                            <th>
                                                Absorbing Solution Used Solution
                                            </th>
                                            <th>
                                                Absorbing Solution Used Conc
                                            </th>
                                            <th>
                                                Absorbing Solution Used Vol
                                            </th>
                                            <th>
                                                Preservation Done
                                            </th>
                                            <th>
                                                Vs
                                            </th>
                                            @if (Model.CurrentStatus != "SampleColl")
                                            {
                                        <th>
                                            Action
                                        </th>}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.GridModel.Count; i++)
                                        {
                        <tr>
                            <td>
                                @Model.GridModel[i].SrNo
                            </td>
                            <td>
                                @*@Model.GridModel[i].Parameters*@
                                @Model.GridModel[i].ParameterName
                            </td>
                            <td>
                                @Model.GridModel[i].TestMethodName
                            </td>
                            <td>
                                @Model.GridModel[i].FlowRate
                            </td>
                            <td>
                                @Model.GridModel[i].SamplingTime
                            </td>
                            <td>
                                @Model.GridModel[i].GasTemp
                            </td>
                            <td>
                                @Model.GridModel[i].BarometricPressure
                            </td>
                            <td>
                                @Model.GridModel[i].DryGasMeterReading_Initial
                            </td>
                            <td>
                                @Model.GridModel[i].DryGasMeterReading_Final
                            </td>
                            <td>
                                @Model.GridModel[i].DryGasMeterReading_Total
                            </td>
                            <td>
                                @Model.GridModel[i].BottleNo
                            </td>
                            <td>
                                @Model.GridModel[i].AbsorbingSolutionUsed_solution
                            </td>
                            <td>
                                @Model.GridModel[i].AbsorbingSolutionUsed_Conc
                            </td>
                            <td>
                                @Model.GridModel[i].AbsorbingSolutionUsed_Vol
                            </td>
                            <td>
                                @Model.GridModel[i].PreservationDone
                            </td>
                            <td>
                                @Model.GridModel[i].Vs
                            </td>
                            @if (Model.CurrentStatus != "SampleColl")
                            {
        <td>
            @*<a href="#" onclick="funEditField(@Model.GridModel[i].SrNo,@Model.GridModel[i].EnquirySampleID);">Edit</a> |*@
            <a href="#" onclick="funDeleteField(@Model.GridModel[i].SrNo);">Delete</a>
        </td>}
                        </tr>}
                                    </tbody>
                                </table>
                                }
            </div>
        


<script>

  function funEditField(Id, EnquirySampleID) {
      debugger
      $("#tblField").attr("disabled", true);
      $('#divAddStack').load('/FieldDetermination/FieldStackEmissionMonitoring/_FieldStackEmission?Id=' + Id + '&EnquirySampleID=' + EnquirySampleID);
      //$('#divList').hide();
  }

  function funDeleteField(Id) {
            debugger
            if (confirm('Are you sure you want to delete this record?')) {
                $.ajax({
                    url: '/FieldDetermination/FieldStackEmissionMonitoring/_DeleteStackEmissionField?Id=' + Id,
                    type: 'Get',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    dataType: 'json',
                    success: function (result) {
                        if (result.status == "success") {
                            $('#divList').load('/FieldDetermination/_FStackList');
                        }
                    },
                    error: function (data) {
                    }
                });
            }
   }
</script>

<script>
    $(document).ready(function () {
        $('#dtHorizontalExample').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

