@model LIMS_DEMO.Areas.FieldDetermination.Models.FDStackEmissionModel
@{
    ViewBag.Title = "FieldStackEmission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Field Determination</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Field Determination</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Field Determination</li>
                                <li class="breadcrumb-item active" aria-current="page">Add Stack Emission Values</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Add Stack Emission Field Values</h4>
                        <p class="mb-30">@*All bootstrap element classies*@</p>
                    </div>
                </div>
                <div class="body-nest" id="Filtering">
                    @Html.HiddenFor(model => model.EnquirySampleID)
                    <div Id="divParameterList">
                        @{
                            Html.RenderAction("_FieldParameterUnit", "FieldWasteWater", Model.EnquirySampleID);
                        }
                    </div>
                    <hr />
                    @*@if (Model.FDStackEmissionId == 0)*@
                    @if (ViewBag.CurrentStatus != "SampleColl")
                    {
                        <div id="divAddStack">
                            @{ Html.RenderAction("_FieldStackEmission", "FieldStackEmissionMonitoring");}
                        </div>
                    }
                    <hr />
                    @if (ViewBag.CurrentStatus != "SampleColl")
                    {
                        <div id="divAddStackPara">
                            @{ Html.RenderAction("_FDStackParameter", "FieldStackEmissionMonitoring");}
                        </div>
                    }
                    <hr />
                    @using (Ajax.BeginForm("FieldStackEmissionMonitoring", "FieldStackEmissionMonitoring", new AjaxOptions() { HttpMethod = "Post", OnBegin = "VlidateClick()", OnSuccess = "StackSuccess", OnFailure = "Error()" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.EnquiryId)
                        @Html.HiddenFor(model => model.SampleCollectionId)
                        @Html.HiddenFor(model => model.FDStackEmissionId)
                        @Html.HiddenFor(model => model.FDStackEmission_IsoKineticId)

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                    </p>
                                    <div id="divList">
                                        @{ Html.RenderAction("_FStackList", "FieldStackEmissionMonitoring", Model);}
                                    </div>
                                    <div id="divListPara">
                                        @{ Html.RenderAction("_FDStackParameterList", "FieldStackEmissionMonitoring", Model);}
                                    </div>
                                    <div class="row">
                                        @{ Html.RenderAction("_FDStackSingle", "FieldStackEmissionMonitoring", Model);}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row align-items-end item form-group">
                            <div class="col-md-12 col-sm-12">
                             @*@if (Model.FDStackEmissionId == 0)
                            {
                               if (ViewBag.CurrentStatus == "SampleColl")
                               {
                               <button type="submit" id="btnSubmit" class="btn btn-round btn-secondary" name="Save" value="FieldSubmit" style="background-color:darkgrey" disabled="disabled">Submit</button>
                               }
                              else
                              {
                                <button type="submit" id="btnSubmit" class="btn btn-primary" name="Save" value="FieldSubmit">Submit</button>
                              }
                            }*@
                                @*<button type="submit" class="btn btn-success alignright">Submit</button>*@
                                @*<button type="submit" id="btnSave" class="btn btn-success" name="Save" value="FieldSave">Save </button>*@
                                @*<button type="submit" id="btnSubmit" class="btn btn-primary" name="Save" value="FieldSubmit">Submit</button>*@
                                @if (ViewBag.CurrentStatus == "SampleColl")
                                {
                                    @*<button type="submit" id="btnSave" class="btn btn-round btn-secondary" name="Save" value="FieldSave" style="background-color:darkgrey" disabled="disabled">Save </button>*@
                                    <button type="submit" id="btnSubmit" class="btn btn-round btn-secondary" name="Save" value="FieldSubmit" style="background-color:darkgrey" disabled="disabled">Submit</button>
                                }
                                else
                                {
                                    @*<button type="submit" id="btnSave" class="btn btn-success" name="Save" value="FieldSave">Save </button>*@
                                    <button type="submit" id="btnSubmit" class="btn btn-info btn-sm"  name="Save" value="FieldSubmit" style="float:right">Submit</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
 </div>
      

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>

    function VlidateClick() {
        $('#btnSubmit').html('Please Wait..');
        $('#btnSubmit').prop('disabled', true);
    }

    function Error() {
        $('#btnSubmit').html('Submit');
        $('#btnSubmit').prop('disabled', false);
    }

    function StackSuccess(result) {
        if (result.FDStackEmissionId != "0") {
            alert("Values Entered Successfully");
            // window.location.href = '/Collection/CollectorList';
        }
    }

</script>


