@model LIMS_DEMO.Areas.Inventory.Models.InventoryMaintainanceAndCalibrationModel
@{
    ViewBag.Title = "Calibration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Calibration</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inventory</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Calibration</li>
                                <li class="breadcrumb-item active" aria-current="page">Add Calibration</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2018
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Export List</a>
                                <a class="dropdown-item" href="#">Policies</a>
                                <a class="dropdown-item" href="#">View Assets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Add Calibration Form</h4>
                    <p class="mb-30"></p>
                </div>
                <div class="wizard-content">
                    @using (Ajax.BeginForm("Calibration", "InventoryMaintainanceAndCalibration", new AjaxOptions() { HttpMethod = "Post" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.InventoryBasicItemDetailsNumber)
                        @Html.HiddenFor(model => model.ItemName)
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.InventoryBasicDetailsID)
                        @Html.HiddenFor(model => model.Type)
                        @Html.Hidden("HiddenItemID", (object)ViewBag.ItemIDViewBag)
                        @Html.Hidden("HiddenInventoryBasicItemsDetailsID", (object)ViewBag.BasicItemDetailsIDViewBag)
                        @Html.Hidden("HiddenDateID", (object)ViewBag.DateIDViewBag)

                      
                        <section>
                           
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label">Item: </label>
                                        <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.ItemID, (SelectList)ViewBag.InventoryItemListViewBag, ".....Select Item......", new { @class = " form-control" })
                                        @Html.ValidationMessageFor(model => model.ItemID)
                                         </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Serial Number:</label>
                                        <div class="'col-sm-4">
                                        @Html.DropDownListFor(model => model.InventoryBasicItemDetailsID, (SelectList)ViewBag.InventorySerialNumberListViewBag, "........Select Serial Number...", new { @class = " form-control" })
                                        @Html.ValidationMessageFor(model => model.InventoryBasicItemDetailsID)
                                        @Html.HiddenFor(model => model.InventoryBasicItemDetailsNumber)
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label">Calibration Date:</label>
                                        <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.InventoryMaintainanceAndCalibrationScheduleDatesID, (SelectList)ViewBag.InventoryFrequencyDateListViewBag, ".....Select Maintainance Date.....", new { @class = " form-control" })
                                        @Html.ValidationMessageFor(model => model.InventoryMaintainanceAndCalibrationScheduleDatesID)
                                        @Html.HiddenFor(model => model.InventoryMaintainanceAndCalibrationScheduleDatesID)
                                        @Html.HiddenFor(model => model.ScheduleDate)
                                         </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Next Date Of Calibration:</label>
                                        <div class="col-sm-4">
                                        @*<input type="date" id="NextCalibrationDate" name="NextCalibrationDate" value="" class="form-control" style="width:470px;" placeholder="Next Date Of Maintenance" />*@
                                        @Html.TextBoxFor(model => model.ndate, new {@class = "form-control",  disabled = true })
                                        @Html.HiddenFor(model => model.NextCalibrationDate)
                                    </div>
                                </div>
                                 <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label" >Calibration Start Date:</label>
                                        <div class="col-sm-4">
                                        <input type="date" id="CalibrationStartDate" name="CalibrationStartDate" value="" class="form-control" />
                                        @Html.TextBoxFor(model => model.CalibrationStartDate, new {@class = "form-control", disabled = true })
                                        @Html.ValidationMessageFor(model => model.CalibrationStartDate, "", new { @class = "text-danger" })
                                         </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Calibration End Date:</label>
                                         <div class="col-sm-4">
                                        <input type="date" id="CalibrationEndDate" name="CalibrationEndDate" value="" class="form-control" />
                                        @Html.TextBoxFor(model => model.CalibrationEndDate, new {@class = "form-control", disabled = true })
                                        @Html.ValidationMessageFor(model => model.CalibrationEndDate, "", new { @class = "text-danger" })
                                        </div>
                                </div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label">Auditor Name:</label>
                                        <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.Auditor, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Auditor, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Auditor Date:</label>
                                        <div class="col-sm-4">
                                        <input type="date" id="AuditDate" name="AuditDate" value="" class="form-control" />
                                        @Html.TextBoxFor(model => model.AuditDate, new {@class = "form-control", disabled = true })
                                        @Html.ValidationMessageFor(model => model.AuditDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label">Calibration  Details:</label>
                                        <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.AuditObservations, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AuditObservations, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Action Taken:</label>
                                        <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.ActionTaken, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ActionTaken, "", new { @class = "text-danger" })
                                        </div>
                                </div>
                                 <div class="form-group row">
                                        <label class="col-sm-12 col-md-2 col-form-label">Calibrator Name:</label>
                                        <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.CalibratorName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CalibratorName, "", new { @class = "text-danger" })
                                         </div>
                                        <label class="col-sm-12 col-md-2 col-form-label">Completion Status:</label>
                                        <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.CompletionStatus, (SelectList)ViewBag.MaintainanceListViewBag, "Select Completion Status...", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CompletionStatus)
                                     </div>
                                </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                        <input type="submit" value="Submit" class="btn btn-info btn-sm" id="buttonSave" name="buttonSave" style="float:right" />
                                </div>
                            </div>
                        </section>
                    }
                </div>
                <!-- Default Basic Forms Start -->
               
                     <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Calibration List</h4>
                        </div>
                      </div>
                        <div class="pb-20">
                            <table class="data-table table stripe hover nowrap" id="myTable">
                                <thead>
                                    <tr class="thead-dark">
                                        <th class="table-plus datatable-nosort">Sr No</th>
                                        <th>PROPOSED DATE</th>
                                        <th>ACTUAL DATE</th>
                                        <th>AUDITOR</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody id="mytableBody"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Simple Datatable End -->
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                                <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                            </div>
                            <pre>
                            <code class="xml copy-pre" id="copy-pre"></code>
                        </pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>

            <!-- success Popup html Start -->
            <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">Form Submitted!</h3>
                            <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- success Popup html End -->
        </div>
    
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/InventoryMaintainanceAndCalibration")
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        InventoryMaintainanceAndCalibration.initialize();
        InventoryMaintainanceAndCalibration.Type = "Calibration";
        if (parseInt($("#HiddenItemID").val()) > 0) {
            $("#ItemID").val($("#HiddenItemID").val()).change();
            $("#ItemID").attr("disabled", "disabled");
        }

    });
</script>
