@model IEnumerable<LIMS_DEMO.Areas.Inventory.Models.InventoryItemMasterModel>
@{
    ViewBag.Title = "StockLogDataList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ItemStock-Issue List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inventory</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ItemStock-Issue List</li>

                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2018
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Export List</a>
                                <a class="dropdown-item" href="#">Policies</a>
                                <a class="dropdown-item" href="#">View Assets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">ItemStock-Issue List</h4>
                    <p class="mb-0"> <a class="text-primary" href="https://datatables.net/" target="_blank"></a></p>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Sr No</th>
                                <th>Employee Name</th>
                                <th>Item Name</th>
                                <th>Category</th>
                                <th>Inventory Type</th>
                                <th>Issued Quantity</th>
                                <th>Issued Date</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                             @if (Model != null)
                             {
                                int SerialNumber = 1;
                             foreach (var item in Model)
                             {
                            <tr>
                                <td>@SerialNumber</td>
                                <td>@item.EmpName</td>
                                <td>@item.NameOfStock</td>
                                <td>@item.CategoryName</td>
                                <td>@item.InventoryTypeName</td>
                                <td>@item.IssueQty</td>
                                <td>@item.IssueDate</td>
                            </tr>
                               ++SerialNumber;
                              }
                           }
                          </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>
    </div>
</div>
