@model LIMS_DEMO.Areas.Inventory.Models.InventoryCapacityMasterModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Capacity</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inventory</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Capacity</li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Capacity</li>
                            </ol>
                        </nav>
                    </div>
                    
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Edit Capacity Form</h4>
                    <p class="mb-30"></p>
                </div>
                <div class="wizard-content">
                    @using (Ajax.BeginForm("Delete", "InventoryCapacityMaster", new AjaxOptions() { HttpMethod = "Post" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.InventoryCapacityMasterId)

                        <h5></h5>
                        <section>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Name of Capacity:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">Description:</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Delete" class="btn btn-info btn-sm" id="buttonSave1" name="buttonSave" style="float:right" onclick="return validateData();" />
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                    }
                </div>
            </div>
            <!-- success Popup html Start -->
            <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h3 class="mb-20">Form Submitted!</h3>
                            <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- success Popup html End -->
        </div>
    </div>
</div>
<script src="~/Scripts/sweet-alert.init.js"></script>
<script src="~/Scripts/sweetalert2.all.js"></script>
<script src="https://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
<script>
    function validateData() {
        debugger
        if ($("#Capacity").val() == "") {
            swal("Please Enter Capacity !");
            return false;
        } else if ($("#Description").val() == "") {
            swal("Please Ener Capacity Description !");
            return false;
        }
        else {
            return true;
        }
    }
</script>
