@model IEnumerable<LIMS_DEMO.Areas.Inventory.Models.InventoryCapacityMasterModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Capacity List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inventory</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Capacity</li>
                                <li class="breadcrumb-item active" aria-current="page">Capacity List</li>
                            </ol>
                        </nav>
                    </div>
                   
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Capacity List</h4>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action("Create","InventoryCapacityMaster")" class="btn btn-info btn-sm scroll-click" role="button"> Add New Capacity</a>
                    </div>
                </div>
                    <div class="pb-20">
                        <table class="data-table table stripe hover nowrap">
                            <thead>
                                <tr class="thead-dark">
                                    <th class="table-plus datatable-nosort">Sr No</th>
                                    <th>Capacity</th>
                                    <th>Description</th>
                                    <th>IsActive</th>
                                    <th class="datatable-nosort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int SerialNumber = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr CapacityId="@item.InventoryCapacityMasterId" CapacityName="@item.Capacity">
                                            <td>@SerialNumber</td>
                                            <td>@item.Capacity</td>
                                            <td>@item.Description</td>
                                            <td>@item.IsActive</td>
                                            <td>
                                                <div class="btn-list">
                                                    <a  href="@Url.Action("Edit","InventoryCapacityMaster",new { InventoryCapacityMasterId=item.InventoryCapacityMasterId })" title="Edit" id="rowedit_@SerialNumber" operation="edit" class="btn btn-info btn-sm">
                                                        Edit

                                                    </a>
                                                    <a href="@Url.Action("Delete","InventoryCapacityMaster",new { InventoryCapacityMasterId=item.InventoryCapacityMasterId})" title="Delete" id="rowedit_@SerialNumber" operation="Delete" class="btn btn-info btn-sm">
                                                        Delete
                                                    </a>
                                                    </div>
                                            </td>
                                        </tr>
                                        ++SerialNumber;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>

                <!-- Simple Datatable End -->
            </div>
        </div>

