@model LIMS_DEMO.Areas.Configuration.Models.RoleMasterModel
@{
    ViewBag.Title = "AddUserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>UserRole</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                               <li class="breadcrumb-item"><a href="index.html">Configuration</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Role Master</li>
                                    <li class="breadcrumb-item active" aria-current="page">Add User Role</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-info btn-sm" href="@Url.Action("UserRoleList","RoleMaster")" role="button" >
                               User Role List
                            <a class="btn btn-primary" href="@Url.Action("UserRoleList","RoleMaster")" role="button">
                                User Role List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Add UserRole</h4>
                    </div>
                    @*<div class="pull-right">
                            <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
                        </div>*@
                </div>
                <div>
                    <div>
                        @using (Ajax.BeginForm("AddUserRole", "RoleMaster", new AjaxOptions { HttpMethod = "Post", OnSuccess = "AddUserRoleSuccess" }))
                        {
                            @Html.HiddenFor(model => model.UserRoleId);
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Role Name:</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.RoleList, "RoleId", "RoleName"), "-----Select------", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.RoleName)
                                </div>
                                <label class="col-sm-12 col-md-2 col-form-label">User Name:</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.UserMasterId, new SelectList(ViewBag.UserList, "UserMasterId", "UserName"), "-----Select------", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserMasterId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Is Active:</label>
                                <div class="col-sm-12 col-md-10">
                                    <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                                    <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="'col-sm-12 col-md-12">
                                <a class="btn btn-danger btn-sm" href="/Configuration/UserMasterList">Back  </a>
                                @*<a class="btn btn-warning" href="/Configuration/Add">Reset</a>*@
                                <button type="submit" class="btn btn-info btn-sm" style="float:right">Save</button>
                                    </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script>
    function AddUserRoleSuccess(result) {
        if (result.Status == "success") {
            alert(result.message);
            location.href = '/Configuration/RoleMaster/UserRoleList';
        }
    }
</script>




