@model IList<LIMS_DEMO.Areas.WorkOrderCustomer.Models.WorkOrderCustomerModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Work Order  Customer</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Work Order Customer</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Work Order Customer</li>
                                <li class="breadcrumb-item active" aria-current="page">Work Order Customer List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Work Order Customer List</h4>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label"> From Date:</label>
                    <div class="col-sm-3 form-group row">
                        <input type="date" id="FromDate" name="FromDate" class="form-control" placeholder="dd/MM/yyyy" />
                    </div>
                    <label class="col-sm-12 col-md-2 col-form-label">To Date:</label>
                    <div class="col-sm-3 form-group row">
                        <input type="date" id="ToDate" name="ToDate" class="form-control" placeholder="dd/MM/yyyy" />
                    </div>
                    <div class="col-sm-2">
                        <button onclick="SearchWorkOrderD();" class="btn btn-success btn-sm" type="button">Search</button>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-4 form-group">
                            From Date
                            <div id="" class="">
                                <input type="date" id="FromDate" name="FromDate" class="form-control  col-md-6" data_format="dd/MM/yyyy" />
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            To Date
                            <div id="" class="">
                                <input type="date" id="ToDate" name="ToDate" class="form-control  col-md-6" data_format="dd/MM/yyyy" />
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <div class="col-sm-8">
                                <button class="btn btn-primary" onclick="SearchWorkOrderD();" type="button" style="margin-top:20px;">Search</button>
                            </div>
                        </div>
                    </div>
                    <hr />*@
                <div class="pb-20">
                    <!-- Simple Datatable start -->
                    @if (ViewBag.RoleName == "Admin")
                    {
                        <table id="dtHorizontalExample" class="table table stripe hover nowrap">
                            <thead>
                                <tr class="thead-dark">
                                    <th class="table-plus datatable-nosort">
                                        Work Order No
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        WORecieved Date
                                    </th>
                                    <th>
                                        WorkOrder EndDate
                                    </th>
                                    <th>
                                        Approve
                                    </th>
                                    <th>
                                        Reject
                                    </th>
                                    <th>
                                        Remark
                                    </th>
                                    <th>
                                        View File
                                    </th>
                                    <th>
                                        Month
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Invoice Report
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].EnteredBy == LIMS_DEMO.LIMS.User.UserMasterID)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WorkOrderNo)
                                                @Html.HiddenFor(item => Model[i].WorkOrderId)
                                                <input type="hidden" name="@string.Concat("WOIDTemp",i)" value="@Model[i].WorkOrderId" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CurrentStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WORecvDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderReceivedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WOEDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderEndDate)
                                            </td>
                                            <td>
                                                @{
                                                    if (Model[i].CurrentStatus.ToLower() == "wogenerated" && Model[i].CurrentStatus.ToLower() != "worejected" && Model[i].CurrentStatus.ToLower() != "woapproved")
                                                    {
                                                        <a href="#" onclick="funApprove(@Model[i].WorkOrderId,'AssignToId_@i.ToString()')" class="sampleName" style="color: cornflowerblue;font-weight:200">Approve</a>
                                                    }
                                                    else if (Model[i].CurrentStatus.ToLower() == "worejected")
                                                    { }
                                                    else
                                                    {
                                                        <a href="#" class=" btn-disabled">Approved</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{ if (Model[i].CurrentStatus.ToLower() != "worejected")
                                                    {

                                                        @Html.TextBoxFor(item => Model[i].Remarks, new { @class = "form-control", @id = "Remarks_" + i.ToString(), @style = "color:black" })
                                                        <span>&nbsp;</span> <a href="#" onclick="funReject('Remarks_@i.ToString()', @Model[i].WorkOrderId)" class="sampleName" style="color:red;font-weight:200;"> Reject</a>

                                                    }
                                                    else
                                                    {
                                                        <a href="#" class=" btn-disabled">WORK Order Rejected</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].Remarks)
                                            </td>
                                            <td>
                                                @{ if (Model[i].FileName == null || Model[i].FileName == String.Empty)
                                                    {
                                                        <a href="#" type="submit" id="btnWorkOrder" class=" btn btn-sm btn-primary btn-disabled" style="background-color:darkgrey" name="WorkOrder">View File </a>
                                                    }
                                                    else
                                                    {
                                                        <a id="btnWorkOrder" target="_blank" href="/Enquiry/DownloadWorkOrder?FilePath=@Model[i].WOUpload&FileName=@Model[i].FileName" class="btn btn-success btn-sm">View File</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <select class="form-control" id="@string.Concat("SelMonth",i)" name="@string.Concat("SelMonth",i)" style="width:100px;">
                                                    <option value="Select Month" disabled>Select Month</option>
                                                    <option value="JAN">JAN</option>
                                                    <option value="FEB">FEB</option>
                                                    <option value="MAR">MAR</option>
                                                    <option value="APR">APR</option>
                                                    <option value="MAY">MAY</option>
                                                    <option value="JUN">JUN</option>
                                                    <option value="JUL">JUL</option>
                                                    <option value="AUG">AUG</option>
                                                    <option value="SEP">SEP</option>
                                                    <option value="OCT">OCT</option>
                                                    <option value="NOV">NOV</option>
                                                    <option value="DEC">DEC</option>
                                                    <option value="None">None</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" id="@string.Concat("Year",i)" name="@string.Concat("Year",i)" style="width:100px; ">
                                                    <option value="Select Year" disabled>Select Year</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2022</option>
                                                    <option value="2021">2023</option>
                                                    <option value="2020">2024</option>
                                                    <option value="2021">2025</option>
                                                    <option value="2020">2026</option>
                                                    <option value="2021">2027</option>
                                                    <option value="2020">2028</option>
                                                    <option value="2021">2029</option>
                                                    <option value="2020">2030</option>
                                                    <option value="2021">2031</option>
                                                    <option value="2020">2032</option>
                                                    <option value="2021">2033</option>
                                                    <option value="2020">2034</option>
                                                    <option value="2021">2035</option>
                                                </select>
                                            </td>
                                            <td>
                                                @if (@Model[i].IsIGST == true)
                                                {
                                                    <a href="" class="btn btn-primary alignleft btn-sm" data-toggle="tooltip" data-placement="top" onclick="GetParameterForInvoice(@Model[i].WorkOrderId,1,@i);">Print</a>
                                                }
                                                else
                                                {
                                                    <a href="" class="btn btn-primary alignleft btn-sm" data-toggle="tooltip" data-placement="top" onclick="GetParameterForInvoice(@Model[i].WorkOrderId,0,@i);">Print</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    }
                    @if (ViewBag.RoleName == "BDM")
                    {
                        <table id="dtHorizontalExample" class="table table stripe hover nowrap">
                            <thead>
                                <tr class="thead-dark">
                                    <th class="table-plus datatable-nosort">
                                        Work Order No
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        WORecieved Date
                                    </th>
                                    <th>
                                        WorkOrder EndDate
                                    </th>
                                    <th>
                                        Remark
                                    </th>
                                    <th>
                                        View File
                                    </th>
                                    <th>
                                        Month
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Invoice Report
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].EnteredBy == LIMS_DEMO.LIMS.User.UserMasterID)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WorkOrderNo)
                                                @Html.HiddenFor(item => Model[i].WorkOrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CurrentStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WORecvDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderReceivedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WOEDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderEndDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].Remarks)
                                            </td>
                                            <td>
                                                @{ if (Model[i].FileName == null || Model[i].FileName == String.Empty)
                                                    {
                                                        <a href="#" type="submit" id="btnWorkOrder" class=" btn btn-sm btn-primary btn-disabled" style="background-color:darkgrey" name="WorkOrder">View File </a>
                                                    }
                                                    else
                                                    {
                                                        <a id="btnWorkOrder" target="_blank" href="/Enquiry/DownloadWorkOrder?FilePath=@Model[i].WOUpload&FileName=@Model[i].FileName" class="btn btn-success btn-sm">View File</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <select class="form-control" id="@string.Concat("SelMonth",i)" name="@string.Concat("SelMonth",i)">
                                                    <option value="Select Month" disabled>Select Month</option>
                                                    <option value="JAN">JAN</option>
                                                    <option value="FEB">FEB</option>
                                                    <option value="MAR">MAR</option>
                                                    <option value="APR">APR</option>
                                                    <option value="MAY">MAY</option>
                                                    <option value="JUN">JUN</option>
                                                    <option value="JUL">JUL</option>
                                                    <option value="AUG">AUG</option>
                                                    <option value="SEP">SEP</option>
                                                    <option value="OCT">OCT</option>
                                                    <option value="NOV">NOV</option>
                                                    <option value="DEC">DEC</option>
                                                    <option value="None">None</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" id="@string.Concat("Year",i)" name="@string.Concat("Year",i)">
                                                    <option value="Select Year" disabled>Select Year</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2022</option>
                                                    <option value="2021">2023</option>
                                                    <option value="2020">2024</option>
                                                    <option value="2021">2025</option>
                                                    <option value="2020">2026</option>
                                                    <option value="2021">2027</option>
                                                    <option value="2020">2028</option>
                                                    <option value="2021">2029</option>
                                                    <option value="2020">2030</option>
                                                    <option value="2021">2031</option>
                                                    <option value="2020">2032</option>
                                                    <option value="2021">2033</option>
                                                    <option value="2020">2034</option>
                                                    <option value="2021">2035</option>
                                                </select>
                                            </td>
                                            <td>
                                                @if (@Model[i].IsIGST == true)
                                                {
                                                    <a href="" class="btn btn-primary alignleft" data-toggle="tooltip" data-placement="top" onclick="GetParameterForInvoice(@Model[i].WorkOrderId,1,@i);">Print</a>
                                                }
                                                else
                                                {
                                                    <a href="" class="btn btn-primary alignleft" data-toggle="tooltip" data-placement="top" onclick="GetParameterForInvoice(@Model[i].WorkOrderId,0,@i);">Print</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    }
                    @if (ViewBag.RoleName == "HOD")
                    {
                        <table  class="table table stripe hover nowrap">
                            <thead>
                                <tr class="thead-dark">
                                    <th class="table-plus datatable-nosort">
                                        Work Order No
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        WORecieveDate
                                    </th>
                                    <th>
                                        WOEndDate
                                    </th>
                                    <th>
                                        View Details
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Approve  @*Visible to HOD Only*@
                                    </th>
                                    <th>
                                        Surveying Team Lead @*Visible to HOD Only*@
                                    </th>
                                    <th>
                                        AssignSTL @*Visible to HOD Only*@
                                    </th>
                                    <th>
                                        Remark
                                    </th>
                                    <th>
                                        Send To ADMIN/BDM @*Visible to HOD Only*@
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].CurrentStatus.ToLower() != "worejected")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WorkOrderNo)
                                                @Html.HiddenFor(item => Model[i].WorkOrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WORecvDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderReceivedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].WOEDate)
                                                @Html.HiddenFor(item => Model[i].WorkOrderEndDate)
                                            </td>
                                            <td>
                                                @{ if (Model[i].FileName == null || Model[i].FileName == String.Empty)
                                                    {
                                                        <a href="#" type="submit" id="btnWorkOrder" class=" btn btn-sm btn-primary btn-disabled" style="background-color:darkgrey" name="WorkOrder">View File </a>
                                                    }
                                                    else
                                                    {
                                                        <a id="btnWorkOrder" target="_blank" href="/Enquiry/DownloadWorkOrder?FilePath=@Model[i].WOUpload&FileName=@Model[i].FileName" class="btn btn-success btn-sm">View File</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(item => Model[i].CurrentStatus)
                                            </td>
                                            <td>
                                                @{ if (Model[i].CurrentStatus.ToLower() == "wogenerated" && Model[i].CurrentStatus.ToLower() != "worejected" && Model[i].CurrentStatus.ToLower() != "woapproved")
                                                    {
                                                        <a href="#" onclick="funApprove(@Model[i].WorkOrderId,'AssignToId_@i.ToString()')" class="sampleName">Approve</a>
                                                    }
                                                    else
                                                    { <a href="#" class=" btn-disabled">Approved</a>}
                                                }
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(item => Model[i].AssignToId, new SelectList(ViewBag.SurveyingLead, "UserMasterID", "UserName", Model[i].AssignToId), "Please Select", new { @class = "form-control btn-sm dropdown-toggle border", @id = "AssignToId_" + i.ToString() })
                                            </td>
                                            <td>
                                                @{ if (Model[i].CurrentStatus.ToLower() == "woapproved" && Model[i].AssignToId == null)
                                                    {
                                                        <a href="#" onclick="funAssign('AssignToId_@i.ToString()', @Model[i].WorkOrderId)" class="sampleName">Assign STL</a>
                                                    }
                                                    else if (Model[i].CurrentStatus.ToLower() == "wogenerated")
                                                    {
                                                        <a>
                                                            First Approve Work Order
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class=" btn-disabled">Assigned</a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(item => Model[i].Remarks, new { @class = "form-control", @id = "Remarks_" + i.ToString(), @style = "color:black" })
                                            </td>
                                            <td>
                                                @{ if (Model[i].CurrentStatus.ToLower() != "worejected")
                                                    {
                                                        <a href="#" onclick="funReject('Remarks_@i.ToString()', @Model[i].WorkOrderId)" class="sampleName">Send To BDM</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class=" btn-disabled">WORK Order Rejected</a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    }
                    <!-- Simple Datatable End -->
                </div>
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>

<script>

    function GetParameterForInvoice(WOID, igst, i) {
        var m = "#SelMonth" + i;
        var monthName = $(m).val();
        var y = "#Year" + i;
        var YearName = $(y).val();

        if (monthName != "Select Month" && YearName != "Select Year") {
            $.ajax({
                type: "POST",
                url: "/WorkOrderCustomer/WorkOrderCustomer/GetParameterForInvoice",
                data: { WOID: WOID, MName: monthName, YName: YearName },
                dataType: "json",
                success: function (result) {
                    //Collect result from json
                    var InvoiceParamData = result;
                    var Arr = InvoiceParamData.split(',');
                    //collect dates
                    var sdate = new Date(Arr[1]);
                    sdate = sdate.toISOString().slice(0, 10);
                    var edate = new Date(Arr[2]);
                    edate = edate.toISOString().slice(0, 10);
                    var x = "/Reporting/frmShowReport.aspx?path=Invoice.rdl&WorkOrderId=" + Arr[0] + " &startDate=" + sdate + " &endDate=" + edate + " &IGST=" + igst + "";
                    window.location = x;
                }
            })
        }
    };

    function SearchWorkOrderD() {
        location.href = '/WorkOrderCustomer/WorkOrderCustomer/Index?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val();
    }

    function funAssign(drpId, WorkOrderId) {
        if ($('#' + drpId).val() == '') {
            alert('Please select surveying team lead');
        } else {
            location.href = '/WorkOrderCustomer/WorkOrderCustomer/AssignSTL?WorkOrderId=' + WorkOrderId + '&AssignToId=' + $('#' + drpId).val();
        }
    }

    function funApprove(WorkOrderId, drpId) {
        debugger
        location.href = '/WorkOrderCustomer/WorkOrderCustomer/WorkOrderApprove?WorkOrderId=' + WorkOrderId;
    }

    function funReject(Remark, WorkOrderId) {
        if ($('#' + Remark).val() == '') {
            alert('Please enter remark');
        } else {
            location.href = '/WorkOrderCustomer/WorkOrderCustomer/WorlOrderReject?WorkOrderId=' + WorkOrderId + '&Remark=' + $('#' + Remark).val();
        }
    }

</script>
<script>
    $(document).ready(function () {
        $('#dtHorizontalExample').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
