@model LIMS_DEMO.Models.LoginModel

<head>
    <meta charset="utf-8">
    <title>InfoLIMS</title>
</head>
<div class="modal-header">
    <div style="margin-left:24%" id="logo-login">
        <img src="~/Component/Images/logo_lims.png" />
    </div>
    <button type="button" onclick="$('#divForgotPassword').hide();" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("_ForgotPassword", "Home", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "" }))
    {

        <div class="container">
            <div class="" id="login-wrapper">
                <div class="col-md-12" style="margin-left:10px">
                    <div class="account-box">
                        @Html.AntiForgeryToken()
                        <h>Enter Your User ID</h>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.DropDownListFor(model => model.UserMasterID, new SelectList(ViewBag.UserList, "UserMasterID", "UserName"), "---Select User---", new { @class = " form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserName)
                        </div>
                        <div>
                            <p>Send Password Change Request To Your <b>Admin</b></p>
                        </div>

                        <button class="btn btn btn-primary pull-right" id="Reset" type="submit" value="">
                            Send
                        </button>
                        <div class="form-group">
                            <label id="ErroMsg" style="color:darkred;font-weight:bold;display:none">Invalid User Id </label>
                        </div>
                        <div class="row-block">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    @*@ViewBag.UserMasterID*@
                                    @*<a href="~/_ForgotPassword" class="btn btn-link"><i class="fa fa-key"> </i> Forgot Password?</a>*@
                                    <a href="#" id="" onclick='ResetField()' class="btn btn-link"><i class="fa fa-key"> Reset</i></a>
                                    <label style="color:darkred;font-weight:bold;display:none">@ViewBag.msg</label>
                                    @*<p>@ViewBag.msg</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 copyright2 text-center">
                        <h5>InfoLims V 4.0</h5>
                        <p>This Product Licence To Xenocode Technologies Pvt Ltd</p>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>

    function ResetField() {
        $('#UserName').val('');
    }
</script>

