@model IEnumerable<LIMS_DEMO.Core.Lab.ApproverEntity>
@{
    ViewBag.Title = "SampleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var recordCount = Model.Count();
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Approver</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Approver</li>
                                <li class="breadcrumb-item active" aria-current="page">Sample List</li>
                            </ol>
                        </nav>
                    </div>
                    
                </div>
            </div>

            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Sample List</h4>
                        <p class="mb-30">@*All bootstrap element classies*@</p>
                    </div>
                    @*<div class="pull-right">
                          <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
                        </div>*@
                </div>
                <!-- Simple Datatable start -->
                <div class="card-box mb-30">
                    <div class="pb-20">
                        <table class="data-table table stripe hover nowrap">
                            <thead>
                                <tr class="thead-dark">
                                    <th class="table-plus datatable-nosort">Sr No.</th>
                                    <th class="width-30">
                                        Sample ID
                                    </th>
                                    <th class="width-15">
                                        Sample Type
                                    </th>
                                    <th class="width-15">
                                        Product Group
                                    </th>
                                    <th class="width-20">
                                        Sub Group
                                    </th>
                                    <th class="width-10">
                                        Matrix
                                    </th>
                                    <th class="width-10">
                                        Report
                                    </th>
                                    <th class="width-10">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        if (item.NotApproveCount > 0)
                                        {
                                <tr>
                                    <td>
                                        @{ rowNo++; }
                                        @rowNo
                                    </td>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.SampleCollectionId)
                                        @*<a href="#" id="myBtn" class="clickSmaple" data-toggle="modal" data-target="#myModal">  @Html.DisplayFor(modelItem => item.SampleNo)</a>*@
                                        @Html.ActionLink(item.SampleName, "ParameterList", "Approver", new { @SampleId = item.SampleCollectionId }, null)
                                    </td>
                                    <td>@item.SampleTypeProductName</td>
                                    <td>@item.ProductGroupName</td>
                                    <td>@item.SubGroupName</td>
                                    <td>@item.MatrixName</td>
                                    <td>@item.StatusName</td>
                                    <td>
                                        <a href="../../Reporting/frmShowReport.aspx?path=TesterReport.rdl&SampleCollectionId=@item.SampleCollectionId" target="_blank">Download</a>
                                    </td>
                                    @if (item.ApprovalActive > 0)
                                    {
                                        <td>
                                            <img src='/Content/images/active.png' alt='Active' id='imgStatus'>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src='/Content/images/unactive.png' alt='Inactive' id='imgStatus'>
                                        </td>
                                    }

                                </tr>
                                        }

                                       
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <div class="dataTables_paginate paging_simple_numbers" id=""></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>               
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>

