
@model IEnumerable<LIMS_DEMO.Areas.Arrival.Models.SampleArrivalModel>

 <table class="table table-striped table-bordered table-hover" width="100%" style="font-size:12px;overflow:scroll">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">
                        SrNo
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Preservation
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SampleQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preservation)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => item.ISGivenPreservative)
                            @Html.DisplayFor(modelItem => item.GivenPreservative)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    