@model IEnumerable<LIMS_DEMO.Areas.Inventory.Models.PurchaseModel>
@{
    ViewBag.Title = "PurchaseRequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Inventory</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Purchase</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Purchase Request First List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Purchase Request First list</h4>
                    </div>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr class="thead-dark">
                                <th class="table-plus datatable-nosort">ITEM</th>
                                <th>BRAMD</th>
                                <th>GRAD</th>
                                <th>PACK SIZE/CAPACITY</th>
                                <th>QUANTITY</th>
                                <th>SUPPLIER NAME</th>
                                <th>NET AMOUNT</th>
                                <th>REMARK TM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.RemarkIfRejectedByTM == "Rejected")
                                {
                                    <tr class="table-plus">
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.All)
                                            </td>*@
                                        <td>
                                            @Html.HiddenFor(modelItem => item.ItemMasterId)
                                            @Html.HiddenFor(modelItem => item.PurchaseRequestID)
                                            @Html.HiddenFor(modelItem => item.PurchaseMasterID)
                                            @Html.DisplayFor(modelItem => item.Item)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackSize)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => item.PurchaseSupplierID)
                                            @Html.DisplayFor(modelItem => item.SupplierName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NetAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RemarkIfRejectedByTM)
                                            @if (item.RemarkIfRejectedByTM == "Rejected")
                                            {
                                                @*@Html.ActionLink("Edit", "PurchaseRequestForm", "Inventory", new { PurchaseRequestID = item.PurchaseRequestID, PurchaseMasterID = item.PurchaseMasterID })*@

                                                <a href="@Url.Action("PurchaseRequestForm", new { PurchaseRequestID = item.PurchaseRequestID, PurchaseMasterID = item.PurchaseMasterID })">
                                                    <i class="fa fa-pencil"></i>&nbsp;Edit
                                                </a>

                                            }
                                        </td>
                                    </tr>
                                }
                                else if (item.RemarkIfRejectedByTM == "Accepted")
                                {
                                    <tr class="table-plus">
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.All)
                                            </td>*@
                                        <td>
                                            @Html.HiddenFor(modelItem => item.ItemMasterId)
                                            @Html.HiddenFor(modelItem => item.PurchaseRequestID)
                                            @Html.HiddenFor(modelItem => item.PurchaseMasterID)
                                            @Html.DisplayFor(modelItem => item.Item)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackSize)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => item.PurchaseSupplierID)
                                            @Html.DisplayFor(modelItem => item.SupplierName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.NetAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RemarkIfRejectedByTM)
                                        </td>
                                    </tr>

                                }
                                else
                                {
                                    <tr class="table-plus">
                                        <td>
                                            @Html.HiddenFor(modelItem => item.ItemMasterId)
                                            @Html.HiddenFor(modelItem => item.PurchaseRequestID)
                                            @Html.HiddenFor(modelItem => item.PurchaseMasterID)
                                            @Html.DisplayFor(modelItem => item.Item)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PackSize)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => item.PurchaseSupplierID)
                                            @Html.DisplayFor(modelItem => item.SupplierName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NetAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RemarkIfRejectedByTM)
                                        </td>

                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dtHorizontalExample').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>