@model LIMS_DEMO.Areas.Enquiry.Models.ContractModel
@{
    ViewBag.Title = "AddContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Contract</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Enquiry</li>
                                <li class="breadcrumb-item active" aria-current="page">Enquiry</li>
                                <li class="breadcrumb-item active" aria-current="page">Add Contract</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Add Contract</h4>
                        <p class="mb-30">@*All bootstrap element classies*@</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label><b>Enquiry ID:</b> </label>
                            @Html.DisplayFor(model => model.EnquiryId, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            <label><b>Customer Name:</b></label>
                            @Html.DisplayFor(model => model.CustomerName, "Customer Name", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            <label><b>Enquiry On:</b></label>
                            @Model.EnquiryOn.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>

                <div id="divAddContract">
                    @Html.HiddenFor(model => model.EnquiryId)
                    @{
                        Html.RenderAction("_Add", "Contract", Model.EnquiryId);
                    }
                </div>
                @using (Ajax.BeginForm("AddContract", "Contract", new AjaxOptions() { HttpMethod = "Post", OnBegin = "Add", OnSuccess = "ContractSuccess" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.EnquiryId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <hr />
                    <div class="row">
                        <div class="table-responsive">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <div id="divList">
                                @{ Html.RenderAction("_ContractList", "Contract");}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10" style="margin-top:10px;">
                            <input type="submit" value="Save & Next" class="btn btn-info" id="buttonSave1" name="buttonSave" />
                        </div>
                    </div>
                }

                <div class="collapse collapse-box" id="basic-form1">
                    <div class="code-box">
                        <div class="clearfix">
                            <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                            <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                        </div>
                        <pre>
                        <code class="xml copy-pre" id="copy-pre"></code>
                        </pre>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script>
    function ContractSuccess(result) {
        if (result.status == "success") {
            location.href = '/Enquiry/SampleAndParameter/SampleAndParameter?EnquiryId=' + result.EnquiryId;
        }
        else {
            alert('Please Select ProductGroup,SubGroup,Matrix fields!')
            $('#btnSubmit').html('Save & Next')
            $('#btnSubmit').prop('disabled', false);
        }
    }

    function Add() {
        debugger
        //$('#btnSubmit').html('Please Wait..')
        //$('#btnSubmit').prop('disabled', true);
    }
</script>



