@model LIMS_DEMO.Areas.Inventory.Models.InventoryMaintainanceAndCalibrationModel
<div class="mobile-menu-overlay"></div>
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Calibration  Details Form</h4>
        </div>
    </div>
    <br />
    <div class="pb-20">
        <div class="wizard-content">
            @using (Html.BeginForm("InventoryMaintainanceAndCalibrationDetails", "Inventory", FormMethod.Post, new { id = "_CalibrationDetails" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("CalibrationID", (object)ViewBag.CalibrationDetailsIdViewBag)
                @Html.Hidden("InventoryTypeMasterID", (object)ViewBag.InventoryTypeMasterIDViewBag)
                <h5></h5>
                <section>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Basic Item Details Code: </label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.CalibrationInventoryBasicItemDetailsID, new SelectList(ViewBag.InventoryItemListViewBag, " InventoryBasicDetailsID", "InventoryBasicItemDetailsNumber"), "---Select---", new { @class = " form-control" })
                            @Html.ValidationMessageFor(model => model.CalibrationInventoryBasicItemDetailsID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CalibrationInventoryBasicItemDetailsID)
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Vendor Name:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.CalibrationAMCVendorName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CalibrationAMCVendorName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Number:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.CalibrationAMCNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CalibrationAMCNumber, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Date:</label>
                        <div class="col-sm-4">
                            <input type="date" id="CalibrationAMCDate" name="CalibrationAMCDate" value="" class="form-control" />
                            <input type="text" id="CalibrationAMCDateval" name="CalibrationAMCDateval" value="" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Period(in months):</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.CalibrationAMCPeriod, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CalibrationAMCPeriod, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Frequency:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.CalibrationFrequency, (SelectList)ViewBag.FrequencyTypeListViewBag, "Select Frequency...", new { @class = " form-control" })
                            @Html.ValidationMessageFor(model => model.CalibrationFrequency)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Start Date:</label>
                        <div class="col-sm-4">
                            <input type="date" id="CalibrationAMCStartDate" name="CalibrationAMCStartDate" value="" class="form-control" style="width:400px;" />
                            <input type="text" id="CalibrationAMCStartDateval" name="CalibrationAMCStartDateval" value="" class="form-control" style="width:400px;" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12">
                            <input type="submit" value="Save" class="btn btn-info btn-sm" id="buttonSaveInventoryCalibrationDetails" name="buttonSaveInventoryCalibrationDetails" style="float:right" />
                            <input type="submit" value="Finish" class="btn btn-info btn-sm" id="buttonFinishInventoryCalibrationDetails" name="buttonFinishInventoryCalibrationDetails" style="float:right;margin-right:10px" />
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
    <!-- success Popup html Start -->
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Form Submitted!</h3>
                    <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html End -->
</div>
         
<script>
     $("#buttonFinishInventoryCalibrationDetails").on('click', function () {
            debugger;
            if ($("#InventoryTypeMasterID").val() == "1") {
                window.location.href = '/Inventory/Inventory/ConsumableList';
            }
            else if ($("#InventoryTypeMasterID").val() == "2") {
                
                window.location.href = '/Inventory/Inventory/NonConsumableList';
        }
        })
</script>





