@model LIMS_DEMO.Areas.Inventory.Models.InventoryCommercialDetailModel
<div class="mobile-menu-overlay"></div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Commercial Details Form</h4>
                    </div>
                </div>
                <br />
                <div class="pb-20">
                    <div class="wizard-content">
                        @using (Html.BeginForm("InventoryCommercialDetails", "Inventory", FormMethod.Post, new { id = "_CommercialDetails" }))
                        {
                            @Html.AntiForgeryToken()
                            @*@Html.ValidationSummary(true)*@
                            @Html.Hidden("CommercialDetailsID", (object)ViewBag.CommercialDetailsIdViewBag)
                            @Html.Hidden("PurchaseRequestID", (object)ViewBag.PurchaseRequestId)
                            @Html.Hidden("InventoryTypeMasterID", (object)ViewBag.InventoryTypeMasterIDViewBag)
                            @Html.HiddenFor(model => model.PurchaseRequestID)

                            <section>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Supplier Name:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.VendorName, null, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.VendorName)
                                    </div>
                                    <label class="col-sm-12 col-md-2 col-form-label">Purchase Order Number:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.PurchaseOrderNumber, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.PurchaseOrderNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Purchase Order Date:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.PurchaseOrderDate, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.PurchaseOrderDate, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-sm-12 col-md-2 col-form-label">Purchase Order Value:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.PurchaseOrderValue, new { @class = "form-control", @style = "font-size:13px;", })
                                        @Html.ValidationMessageFor(model => model.PurchaseOrderValue, "", new { @class = "text-danger" })
                                        @*function onlyNumberKey(evt) {

                                // Only ASCII charactar in that range allowed
                                var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                                return false;
                                return true;
                                }*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Date Of Receiving:</label>
                                    <div class="col-sm-4">
                                        <input type="date" id="PurchaseDate" name="PurchaseDate" value="" class="form-control" style="font-size:13px" />
                                        <input type="text" id="PurchaseDateval" name="PurchaseDateval" value="" class="form-control" disabled style="font-size:13px" />
                                    </div>
                                    <label class="col-sm-12 col-md-2 col-form-label">Delivery Time(Days):</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.DeliveryTime, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.DeliveryTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Delivery Challan No:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.DeliveryChallanNo, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.DeliveryChallanNo, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-sm-12 col-md-2 col-form-label">Delivery Challan Date:</label>
                                    <div class="col-sm-4">
                                        <input type="date" id="DeliveryChallanDate" name="DeliveryChallanDate" value="" class="form-control" style="font-size:13px" />
                                        <input type="text" id="DeliveryChallanDateval" name="DeliveryChallanDateval" value="" class="form-control" style="font-size:13px" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Bill No:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control", @style = "font-size:13px;" })
                                        @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-sm-12 col-md-2 col-form-label">Bill Date:</label>
                                    <div class="col-sm-4">
                                        <input type="date" id="BillDate" name="BillDate" value="" class="form-control" style="font-size:13px;" />
                                        <input type="text" id="BillDateval" name="BillDateval" value="" class="form-control" disabled style="font-size:13px;" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <input type="submit" value="Create" class="btn btn-info btn-sm" id="buttonSaveInventoryCommercialDetails" name="buttonSaveInventoryCommercialDetails" style="float:right" />
                                    </div>
                                </div>
                            </section>
                        }
                    </div>
                </div>
                <!-- success Popup html Start -
    <!-- success Popup html End -->
            </div>
          


