@model LIMS_DEMO.Areas.Inventory.Models.InventoryMaintainanceAndCalibrationModel
<div class="mobile-menu-overlay"></div>
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Maintaince  Details Form</h4>
            <p class="mb-30"></p>
        </div>
    </div>
    <br />
    <div class="pb-20">
        <div class="wizard-content">
            @using (Html.BeginForm("InventoryMaintainanceAndCalibrationDetails", "Inventory", FormMethod.Post, new { id = "_Maintainance" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("MaintainanceID", (object)ViewBag.MaintainanceDetailsIdViewBag)
                @Html.Hidden("InventoryTypeMasterID", (object)ViewBag.InventoryTypeMasterIDViewBag)

                <section>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Basic Item Details Code: </label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.InventoryBasicItemDetailsID, new SelectList(ViewBag.InventoryItemListViewBag, "InventoryBasicItemDetailsID", "InventoryBasicItemDetailsNumber"), "---Select---", new { @class = " form-control" })
                            @Html.ValidationMessageFor(model => model.InventoryBasicItemDetailsID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.InventoryBasicItemDetailsNumber)
                            @Html.HiddenFor(model => model.InventoryBasicItemDetailsID)
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Vendor Name:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.AMCVendorName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AMCVendorName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Number:</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.AMCNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AMCNumber, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Date:</label>
                        <div class="col-sm-4">
                            <input type="date" id="AMCDate" name="AMCDate" value="" class="form-control" />
                            <input type="text" id="AMCDateval" name="AMCDateval" value="" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Period(in months):</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.AMCPeriod, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AMCPeriod, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Frequency:</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.Frequency, (SelectList)ViewBag.FrequencyTypeListViewBag, "Select Frequency...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Frequency)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">AMC Start Date:</label>
                        <div class="col-sm-4">
                            <input type="date" id="AMCStartDate" name="AMCStartDate" value="" class="form-control" />
                            <input type="text" id="AMCStartDateval" name="AMCStartDateval" value="" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12">
                            <input type="submit" value="Create" class="btn btn-info btn-sm" id="buttonSaveInventoryMaintainanceDetails" name="buttonSaveInventoryMaintainanceDetails" style="float:right" />
                            <input type="submit" value="Next" class="btn btn-info btn-sm" id="buttonNextToCalibration" name="buttonNextToCalibration" style="float:right;margin-right:10px" />
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
    <!-- success Popup html Start -->
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Form Submitted!</h3>
                    <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html End -->
</div>
       



