@model IList<LIMS_DEMO.Areas.Invoice.Models.InvoiceModel>
<div class="card-box mb-30">
    <div class="pb-20">
        @if (Model.Count() > 0)
        {
            <table id="tblField" class="data-table table stripe hover nowrap">
                <thead>
                    <tr class="thead-dark">
                        <th class="table-plus datatable-nosort">
                            Sr No.
                        </th>
                        <th class="table-plus datatable-nosort">
                            Reciept No
                        </th>
                        <th class="table-plus datatable-nosort">
                            Paid Amount
                        </th>
                        <th class="table-plus datatable-nosort">
                            Date
                        </th>
                        <th class="table-plus datatable-nosort">
                            Payment Mode
                        </th>
                        <th class="table-plus datatable-nosort">
                            DD/Cheque No/Neft
                        </th>
                        <th class="table-plus datatable-nosort">
                            DD/Cheque Date
                        </th>
                        <th class="table-plus datatable-nosort">
                            Print
                        </th>
                        @*@if (Model.CurrentStatus != "SampleColl")
                        {
                            <th class="table-plus datatable-nosort">
                                Action
                            </th>
                        }*@
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr id="">
                            <td>
                                @Model[i].SrNo
                            </td>
                            <td>
                                @Model[i].RecieptNo
                            </td>
                            <td>
                                @Model[i].PaidAmount
                            </td>
                            <td>
                                @Model[i].Date
                            </td>
                            <td>
                                @Model[i].PaymentModeName
                            </td>
                            <td>
                                @Model[i].DD_ChequeNo_Neft
                            </td>
                            <td>
                                @Model[i].DD_ChequeDate
                            </td>
                            <td>
                                @*<a href="" onclick="funRecipt(@Model[i].PaymentDetailsId);" class="clickSmaple" data-toggle="modal" data-target="#myModal1" @*class="btn btn-warning alignleft"*@> @*<span class="fa fa-print"></span></a>*@
                                <a target="_blank" href="/Reporting/frmShowReport.aspx?path=ReceiptInvoice.rdl&PaymentDetailsId=@Model[i].PaymentDetailsId" class="btn btn-primary alignleft btn-sm" data-toggle="tooltip" data-placement="top" title=""><span class="fa fa-print"></span></a>
                            </td>
                            @*@if (Model.CurrentStatus != "SampleColl")
                            {
                                <td>
                                    <a href="#" onclick="funEditField(@Model.GridModel[i].SrNo);">Edit</a> |
                                    <a href="#" onclick="funDeleteField(@Model.GridModel[i].SrNo);">Delete</a>
                                </td>
                            }*@
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div id="myModal1" class="modal" style="display:none;margin-right:0px">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width:70%">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:steelblue;height:42px;">
                        <p class="Closeup"><span class="close CPopup">&times;</span></p>
                        <h4 style="text-align:center;color:white;font-weight:bold">Are you sure you want to create Receipt  ?</h4>
                        <a class="Closeup" href="/Invoice/Invoice/Payment"><span class="close CPopup">&times;</span></a>
                    </div>
                    <div class="modal-body">
                        <div class="col-ms-12" id="divrecipt" style="border:none"></div>
                    </div>
                        <div class="form-group">

                            <input type="submit" value="Print" class="btn btn-info btn-sm d-print-inline" style="float:right;margin-top:-15px" />
                        </div>
                        @*@{
                            Html.RenderAction("_CostingDetails", "Invoice");
                        }*@

                    </div>
                     <div class="modal-footer" style="border:none">
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Simple Datatable End -->

<script>

    //function funEditField(Id) {
    //    debugger
    //    $("#tblField").attr("disabled", true);
    //    $('#divAddWasteWater').load('/FieldDetermination/FieldWasteWater/_FieldWasteWater?Id=' + Id);
    //    //$('#divList').hide();
    //}

    //function funDeleteField(Id) {
    //    debugger
    //    if (confirm('Are you sure you want to delete this record?')) {
    //        $.ajax({
    //            url: '/FieldDetermination/FieldWasteWater/_DeleteField?Id=' + Id,
    //            type: 'Get',
    //            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    //            dataType: 'json',
    //            success: function (result) {
    //                if (result.status == "success") {
    //                    $('#divList').load('/FieldDetermination/FieldWasteWater/_FDWasteWaterList');
    //                }
    //            },
    //            error: function (data) {
    //            }
    //        });
    //    }
    //}

</script>
<script>
    $(document).ready(function () {
        $('#dtHorizontalExample').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });

        function funRecipt(PaymentDetailsId) {
        debugger
            $('#divrecipt').load('/Invoice/Invoice/_PaymentReceipt?PaymentDetailsId=' + PaymentDetailsId );
            $('#myModal1').show();
    }
    //function SearchReceipt() {
    //    location.href = '/Invoice/Invoice/_PaymentList?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val();
    //}

</script>




