@model IList<LIMS_DEMO.Areas.Invoice.Models.InvoiceModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Receipt List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Invoice</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Receipt</li>
                                <li class="breadcrumb-item active" aria-current="page">Receipt List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Receipt List</h4>
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Registration Name:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.RegistrationName, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-12 col-md-2 col-form-label">Invoice Number:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-12 col-md-2 col-form-label">Receipt Number:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.InvoiceNumber, new { @class = "form-control" })
                    </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label"> From Date:</label>
                    <div class="col-sm-3 form-group row">
                        <input type="date" id="FromDate" name="FromDate" class="form-control" placeholder="dd/MM/yyyy" />
                    </div>
                    <label class="col-sm-12 col-md-2 col-form-label">To Date:</label>
                    <div class="col-sm-3 form-group row">
                        <input type="date" id="ToDate" name="ToDate" class="form-control" placeholder="dd/MM/yyyy" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success btn-sm" onclick="SearchReceipt();" type="button">Search</button>
                    </div>
                </div>


                <!-- Simple Datatable start -->

                <table id="dtHorizontalExample" class="table table stripe hover nowrap">
                    <thead>
                        <tr class="thead-dark">
                            <th>
                                Sr. No.
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                               Invoice Number
                            </th>
                            <th class="table-plus datatable-nosort">
                               Receipt Number
                            </th>
                            <th>
                                Pay Amount
                            </th>
                            <th>
                                Receipt Date
                            </th>
                            <th>
                                Download
                            </th>

                        </tr>
                    </thead>
                    <tbody>


                        @{ int rowNo = 0; }
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="table-plus">@{rowNo++;}@rowNo</td>

                                    <td>@item.RegistrationName</td>
                                    <td>@item.InvoiceNumber</td>
                                    <td>@item.RecieptNo</td>
                                    <td>@item.PaidAmount</td>
                                    <td>@item.PaymentDate</td>
                                    <td>
                                        @if (item.IsIGST == false)
                                        {
                                            <a target="_blank" href="/Reporting/frmShowReport.aspx?path=ReceiptInvoice.rdl&PaymentDetailsId=@item.PaymentDetailsId" class="btn btn-primary alignleft btn-sm" data-toggle="tooltip" data-placement="top" title=""><span class="fa fa-download"></span></a>


                                        }
                                        else
                                        {
                                            <a target="_blank" href="/Reporting/frmShowReport.aspx?path=ReceiptInvoice.rdl&PaymentDetailsId=@item.PaymentDetailsId" class="btn btn-primary alignleft btn-sm" data-toggle="tooltip" data-placement="top" title=""><span class="fa fa-download"></span></a>

                                        }
                                    </td>
                                    @*<td>
                                        <a href="#" id="myBtn" class="clickSmaple" data-toggle="modal" data-target="#myModal1" style="color:blue"><span class="fa fa-list"></span></a>
                                        @Html.HiddenFor(modelitem => item.EnquirySampleID)
                                        @Html.HiddenFor(modelitem => item.EnquiryId)
                                        @Html.HiddenFor(modelitem => item.CostingId)
                                    </td>*@
                                </tr>
                            }
                        }
                    </tbody>

                </table>

                <!-- Simple Datatable End -->

            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>
<script>
    function SearchReceipt() {
        location.href = '/Invoice/Invoice/ReceiptList?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val();
    }
</script>
