@model LIMS_DEMO.Areas.FieldDetermination.Models.FDAmbientAirMonitoringModel

<!-- Simple Datatable start -->
<div class="card-box mb-30">
    <div class="pb-20">
        @if (Model.GridModel.Count() > 0)
        {
            <br/><br/><label class="col-lg-4 col-sm-4 control-label  mr-btm-15">For 4 Hr Testing</label>
            <table id="tblField" class="data-table table stripe hover nowrap">
                <thead>
                    <tr class="thead-dark">
                        <th class="table-plus datatable-nosort">
                            SrNo.
                        </th>
                        <th class="table-plus datatable-nosort">
                            Shift No.
                        </th>
                        <th class="table-plus datatable-nosort">
                            @*Gases Sampled*@ Parameter
                        </th>
                        <th class="table-plus datatable-nosort">
                            Vol Impinging Sol
                        </th>
                        <th class="table-plus datatable-nosort">
                            BottleNo
                        </th>
                        <th class="table-plus datatable-nosort">
                            RotameterFlow
                        </th>
                        <th class="table-plus datatable-nosort">
                            Duration
                        </th>
                        <th class="table-plus datatable-nosort">
                            Vs
                        </th>
                        <th class="table-plus datatable-nosort">
                            Preservation If Any
                        </th>
                        @if (Model.CurrentStatus != "SampleColl")
                        {
                            <th class="table-plus datatable-nosort">
                                Action
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.GridModel.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.GridModel[i].SrNo
                            </td>
                            <td>
                                @Model.GridModel[i].ShiftNoAir
                            </td>
                            <td>
                                @Model.GridModel[i].ParameterName
                                @Model.GridModel[i].GasesSampled
                            </td>
                            <td>
                                @Model.GridModel[i].VolImpingingSolution
                            </td>
                            <td>
                                @Model.GridModel[i].BottleNo
                            </td>
                            <td>
                                @Model.GridModel[i].RotaMeterFlow
                            </td>
                            <td>
                                @Model.GridModel[i].Duration
                            </td>
                            <td>
                                @Model.GridModel[i].Vs
                            </td>
                            <td>
                                @Model.GridModel[i].PreservationDone
                            </td>
                            @if (Model.CurrentStatus != "SampleColl")
                            {
                                <td>
                                    @*<a href="#" onclick="funEditField(@Model.GridModel[i].SrNo,@Model.GridModel[i].EnquirySampleID);">Edit</a> |*@
                                    <a href="#" onclick="funDeleteField(@Model.GridModel[i].SrNo);">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<!-- Simple Datatable End -->

<script>

    function funEditField(Id, EnquirySampleID) {
        debugger
        $("#tblField").attr("disabled", true);
        $('#divAddAmbientAir').load('/FieldDetermination/FieldAmbientAirMonitoring/_FDAmbientAirGasesList?Id=' + Id + '&EnquirySampleID=' + EnquirySampleID);
        //$('#divList').hide();
    }

    function funDeleteField(Id) {
        debugger
        if (confirm('Are you sure you want to delete this record?')) {
            $.ajax({
                url: '/FieldDetermination/FieldAmbientAirMonitoring/_DeleteAmbientAirField?Id=' + Id,
                type: 'Get',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: 'json',
                success: function (result) {
                    if (result.status == "success") {
                        $('#divGrid').load('/FieldDetermination/FieldAmbientAirMonitoring/_FDAmbientAirList');
                    }
                },
                error: function (data) {
                }
            });
        }
    }
</script>


